extends layout

block variables
    - var title = "Dashboard"

block content
    h2.text-center Welcome to your Dashboard, #{user.profile.firstName}. 

    h4.text-center
        .container
            p.lead
                | What would you like to do today?
    // SOURCE: https://getbootstrap.com/docs/4.0/components/card/#using-grid-markup
    .container-fluid
        .row
            .col-sm-3(class="card text-center")
                .card
                    .card-body
                        form#newPrj(action='/projects', method='post')
                            input.btn.btn-primary(type='submit', value='Start a New Project')         
            .col-sm-3(class="card text-center")
                .card
                    .card-body
                        a.btn.btn-primary(href='/projects', method='post') Edit an Existing Project
            .col-sm-3(class="card text-center")
                .card
                    .card-body
                        a.btn.btn-primary(href='/account', method='get') Update My Info
            .col-sm-3(class="card text-center")
                .card
                    .card-body
                        a.btn.btn-primary(href='https://andreadias.github.io/foliospace-demo/' target="_blank" method='get') View My Portfolio Page                 
    p.text-center
        | If this is your first time visiting Foliospace, add your info by clicking the Update My Info button above or Account tab in the top right.
    script(src='/javascript/project_form_handler.js')
