extends layout

block variables
  - var title = "Dashboard"

block content
  h2.text-center Dashboard

  .row
    .offset-sm-2.col-sm-8
      .jumbotron.text-center.
        Welcome to your dashboard page, #{user.profile.firstName}.
  .row.offset-sm-2.col-sm-8
    p If this is your first time visiting Foliospace, click on the Account tab to add your profile details.
    P Then you can click on the Projects tab to add your projects.
