extends layout

block variables
    - var title = "Dashboard"

block content
    h2.text-center Dashboard

    .row
        .offset-sm-2.col-sm-8
            .jumbotron.text-center.
                Welcome to your dashboard page, #{user.profile.firstName}. What would you like to do today?
    // SOURCE: https://getbootstrap.com/docs/4.0/components/card/#using-grid-markup
    .container-fluid
        .row
            .col-sm-6
                .card
                    .card-body
                        h5.card-title Start a New Project 
                        form#newPrj(action='/projects', method='post')
                            input.btn.btn-primary(type='submit', value='Take Me There')                        
            .col-sm-6
                .card
                    .card-body
                        h5.card-title Edit an Existing Project
                        a.btn.btn-primary(href='/projects', method='post') Take Me There    
        .row    
            .col-sm-6
                .card
                    .card-body
                        h5.card-title Update my Info
                        a.btn.btn-primary(href='/account', method='get') Take Me There
            .col-sm-6
                .card
                    .card-body
                        h5.card-title View my Portfolio Page
                        a.btn.btn-primary(href='/portfolio', method='get') Take Me There                         

    script(src='/javascript/project_form_handler.js')
            


