extends layout

block variables
  - var title = "Home"

block content
  h2.text-center Foliospace

  .row
    .offset-sm-2.col-sm-8
      .jumbotron.text-center.
        Welcome to Foliospace! You can visit our
        #[a(href="https://github.com/foliospace/foliospace", title="Folio on GitHub") GitHub page] to learn more.
