extends layout

block variables
    - var title = "Project"

block content
    form(action='/', method='post')
        label(for='prj_name') Project Name: 
        input#prj_name(type='text', name='name_field', value='Project name')
        label(for='prj_blurb') Project Description: 
        input#prj_blurb(type='text', name='prj_blurb', value='Project blurb')
        input(type='submit', value='Save')
    form(action='/files')
        input(type='submit', value='Upload Images')
